/*@import url("core.css");*/
#navigation {
    display: none;
}
#loginLink {
    display: none;
}

.achieveforms-container .sectionsHead {
    display: none;
    visibility: hidden;
}

button.btn.btn-af.cancelbutton {
    visibility: hidden;
    display: none;
}

.nextbutton {
    background-color: #00692f;
}
.previousbutton {
    margin-top: -14px !important; /* Kludge to fit this properly*/
}

.btn-secondary {
    background-color: #12457a;
    color: #fff;
}


._AF .btn.btn-default, .achieveforms-container .btn.btn-default { 
    min-width: auto;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    background-color: #12457a !important;
    box-shadow: 0 2px 0 #003518;
    color:#fff;
}

._AF .btn.btn-default:hover, .achieveforms-container .btn.btn-default:hover {
    background-color: #12457a !important;
}

.achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid input[type="radio"]:checked + label::before {
    content: "\00a0";
    background-color: #000 ;
    border-color: #000;
}
