/*@import url("core.css");*/
@import url('https://use.fontawesome.com/releases/v6.2.0/css/all.css');
@import url('alerts.css');
@import url('nyc.css');
#navigation {
    display: none;
}

#loginLink {
    display: none;
}

/* Hides section navigation */
.achieveforms-container .sectionsHead {
    display: none;
}

button.btn.btn-af.cancelbutton {
    visibility: hidden;
    display: none;
}



.achieveforms-container .fillinButtons .btn.submitbutton {
    margin-right: 1em;
    float: right !important;
    margin-top: -38px !important;
}
.previousbutton {
    margin-top: -14px !important; /* Kludge to fit this properly*/
}



.achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.valid input[type="radio"]:checked + label::before {
    content: "\00a0";
    background-color: #000 ;
    border-color: #000;
}

label [for=date_of_birth-year] {
    margin-left: 8px;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

._AF .btn.btn-default.btn-manual, .achieveforms-container .btn.btn-default.btn-manual{
    background-color: #fff;
    color: #0b0c0c;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0px !important; /*hacky*/
    margin-left: 2px;
}

._AF .btn.btn-default.btn-manual:focus, .achieveforms-container .btn.btn-default.btn-manual:focus {
    background-color: #fd0 !important;
    color: #0b0c0c;
    
}
._AF .btn.btn-default.btn-manual:hover, .achieveforms-container .btn.btn-default.btn-manual:hover {
    background-color: #fff;
    min-height: 0px;
}
._AF input[type=text].displayAsSeparated, .achieveforms-container input[type=text].displayAsSeparated {
    margin-right: 30px;
}

.fileCount {
    display: none;
}


._AF .mandatory, .achieveforms-container .mandatory {
    display: none !important;
}

/*change .previousText to 'back' */
.previousText {
    display: none;
}

.previousbutton:after {
    content: 'Back';
}

.previousbutton { /* otherwise click reigon is super small */
    min-width: 45px;
}

.right-float {
    float: right;
}

@media only print, only screen and (max-width: 767px) {
    .achieveforms-container .fillinButtons-wrapper .fillinButtons .btn {
        min-width: 0;
    }
}


.select2-container .select2-choice {
    background-image: none; 
}

.select2-container .select2-choice>.select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
    background-image: none;
    background: white;
}
.select2-container a.select2-choice {
    background: white;
}
._AF input[type=text].select2-input {
    width: 100%;
    max-width: 100%;
}

.select2-container-active .select2-choice,.select2-container-active .select2-choices, .select2-drop {   
    box-shadow: none;
    -webkit-box-shadow: none;
}

tr.repeatable-value>td.value {
    padding-left: 0 !important;
}

.submission-message-btn-wrapper button.save.btn.btn-af {
    width: 100%;
    font-weight: bold;
    font-size: 250%;
}

.confirmation-header strong {
    font-size: 2.25rem;
}

.achieveforms-container .fieldContent .resumable-drop {
    border: 1px dashed #aaa !important;
    border-top-style: dashed !important;
    border-radius: .5em;
}

@media (min-width: 641px) {
    #footer .footer-wrapper {
        padding-top: 20px;
    }
}

div {
    line-height: 27.2px;
}

/* fix wonky radios */
input[type=radio]+label:before {
    height: 16px;
    width: 16px;
}

input[type=radio]+label, input[type=checkbox]+label { /* prevent jumping */
    border: 1px solid transparent;
    border-bottom: 3px solid transparent;
    background: #dee0e2 none repeat scroll 0 0;
    padding: 12px;
}

input[type=radio]+label:hover, input[type=checkbox]+label:hover { /* prevent jumping */
    border: 1px solid black;
    border-bottom: 3px solid black;
    background: #dee0e2 none repeat scroll 0 0;
    padding: 12px;
}

/* NYC portal style :focus - fixes dodgy checkboxes */
input[type=radio]:focus+label, input[type=checkbox]:focus+label {
    color: #52a8ec;
    background-color: #ffdd00;
    border-bottom: 3px solid #0b0c0c;
    padding: 12px;
}

input[type=checkbox].check2:focus+label:before {
    border: 1px solid #0b0c0c;

}


.product_self .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .checkbox-wrapper label, .product_self .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .radio-wrapper label, .product_service .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .checkbox-wrapper label, .product_service .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .radio-wrapper label {
    width: 60%;
}

.product_self .achieveforms-container .all-sections .field .fieldContent.large-label fieldset.fieldInput.vertical .checkbox-wrapper label, .product_self .achieveforms-container .all-sections .field .fieldContent.large-label fieldset.fieldInput.vertical .radio-wrapper label, .product_service .achieveforms-container .all-sections .field .fieldContent.large-label fieldset.fieldInput.vertical .checkbox-wrapper label, .product_service .achieveforms-container .all-sections .field .fieldContent.large-label fieldset.fieldInput.vertical .radio-wrapper label {
    width: 90%;
}

@media only print, only screen and (max-width: 767px) {
    .product_self .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .checkbox-wrapper label, .product_self .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .radio-wrapper label, .product_service .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .checkbox-wrapper label, .product_service .achieveforms-container .all-sections .field .fieldContent fieldset.fieldInput.vertical .radio-wrapper label {
        width: 90%;
        word-wrap: break-word;
    }
}
